/* stylesheet for PetMatch */
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Lato:700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);


body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #343434;
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  height: 100%;
}

.nav {
	border-bottom: 1px solid #cdcdcd;
}
 
.nav ul {
  list-style: none;
  background-color: #fff;
  text-align: left;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align:top;
}

.nav li {
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  line-height: 55px;
  width: 130px;
  height: 55px;
  text-align: center;
  display: inline-block;
  margin-right: -5px;
}
 
.nav a {
  text-decoration: none;
  color: #000;
  display: block;
}

.nav a:hover {
  color: gray;
}

.quiz {
	background-color: #e1e1e1;
}

.home {
	font-family: 'Bangers', cursive;
	font-size: 19pt;
	text-align: center;
	float: left;
    width: 170px;
    margin-top: 15px;
}

.home-small {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 14pt;
}

.signup {
	float: right;
	background-color: #ff672b;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	font-weight: bold;
	border-radius: 5px;
	line-height: 35px;
	width: 120px;
	height: 35px;
	text-align: center;
	display: inline-block;
	margin-top: 7px;
	margin-right: 10px;
	border: 2px solid #ff672b;
}

.login {
	float: right;
	background-color: #fff;
	color: #343434;
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid #cfcfcf;
	line-height: 35px;
	width: 120px;
	height: 35px;
	text-align: center;
	display: inline-block;
	margin-top: 7px;
	margin-right: 10px;
}

#content {
	clear: both;
	min-height: 100%;
	margin: 0 auto - 120px;
}

#welcome {
	margin: 0;
	width: 100%;
	height: 215px;
	background-color: #ededed;
	text-align: center;
	line-height: 15px;
	padding-top: 70px;
	font-family: 'Lato', sans-serif;
}

#welcome .normal {
	color: #343434;
}

#welcome .orange {
	color: #ff672b;
	font-weight: bold;
	font-size: 26pt;
}

.takequiz {
	background-color: #4c4c4c;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 30px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16pt;
    margin: 14px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    outline:0px !important;
    -webkit-appearance:none;
    font-family: 'Droid Serif', serif;
}

.takequiz:hover {
    background-color: #ff672b; /* Green */
    color: white;
}

.info {
	text-align: center;
	padding-top: 80px;
	font-family: 'Roboto Slab', serif;
	font-size: 12pt;
}

.info img {
	margin-bottom: 40px;
}

.info .quizinfo {
	width: 200px;
	height: 270px;
	padding: 25px;
	display: inline-block;
	vertical-align: top;
	border-right: 2px dashed #d2d2d2;
}

.info .quizinfo2 {
	width: 200px;
	height: 270px;
	padding: 25px;
	display: inline-block;
	vertical-align: top;
}

.info .aboutus {
	width: 200px;
	height: 190px;
	line-height: 190px;
	display: inline-block;
	vertical-align: top;
	background-color: #ff672b;
	color: white;
	border-radius: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 30pt;
}

.info .aboutus span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.info .abouttext {
	width: 510px;
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
	font-size: 14pt;
	text-align: left;
	text-align: justify;
    text-justify: inter-word;
    font-family: 'Crimson Text', serif;
}

.footer, .push {
	margin-top: 100px;
	background-color: #2a2a2a;
	width: 100%;
	height: 120px;
	color: white;
	line-height: 120px;
	font-size: 10pt;
}

.footer-content {
	width: 720px;
	margin-right: auto;
	margin-left: auto;
}

.footer-text {
	float: right;
	font-family: 'Roboto', sans-serif;
}

.footer-text a {
	text-decoration: none;
	color: white;
}

.footer-text a:hover {
	color: gray;
}

.mytext {
	padding-top: 40px;
	width: 720px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16pt;
	line-height: 35px;
}

.warningbox {
	padding-top: 60px;
	width: 720px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 16pt;
	line-height: 35px;
}

input[type=checkbox].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden;
							clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:50px;
							height:30px; 
							display:inline-block;
							line-height:30px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:24px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -30px;
						}
						label.css-label {
				background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_d1da6b7b8c71e3cd20ffead86da457ae.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

hr {
    border: 0;
    height: 1px;
}


.info .name {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info .row {
    width: 500px;
    margin: 5px auto;
    text-align: left;
}
.info .row label {
    display: inline-block;
    width: 200px;
    text-align: right;
    margin-right: 10px;
}
.info .row img {
    width: 500px;
    margin-top: 30px;
}